<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>ChatiQueue</title>
</head>
<div id="app">
  <div class="filler" v-if="notAuth"></div>
  <div class="auth bb" v-if="notAuth">
    <div class="auth-tabs">
      <div class="auth-tab" v-on:click="switchTab('login')"  v-bind:class="{ active: (authTab == 'login') }"><p>Login</p></div>
      <div class="auth-tab" v-on:click="switchTab('signup')" v-bind:class="{ active: (authTab == 'signup') }"><p>Sign-up</p></div>
    </div>
    <div class="auth-form">
      <p>Username</p>
      <input type="text" v-model="authUsername">
      <p>Password</p>
      <input type="password" v-model="authPassword">
    </div>
    <div class="auth-error" v-if="authError.length !== 0"><p>{{authError}}</p></div>
    <div class="auth-submit" v-on:click="auth()"><p>YEAP!</p></div>
  </div>
  <nav>
    <div class="wrap">
      <h1>ChatiQueue</h1>
    </div>
  </nav>
  <div class="profile" v-if="!notAuth">
    <div class="wrap">
      <p>Logined as</p>
      <p class="login">{{username}}</p>
      <p class="logout" v-on:click="logout()">[Logout]</p>
    </div>
  </div>
</div>
<script>
  const socket = io();
  
  let app = new Vue({
    el: '#app',
    data: {
      authUsername: '',
      authPassword: '',
      authError: '',
      authTab: 'login',
      notAuth: true,
      username: '',
    },
    created: function() {
      const token = localStorage.getItem('chatiqueue:token');
      console.log(token);
      if (token) {
        axios.post('/auth/login', { token }).then(res => {
          this.authError = '';
          console.log(res);
          const data = res.data;
          if (data.success) {
            this.notAuth = false;
            this.username = data.message.username;
            localStorage.setItem('chatiqueue:token', data.message.token);
          }  else {
            this.authError = data.message;
          }
        });
      }
    },
    methods: {
      auth: function() {
        const userData = {
          username: this.authUsername,
          password: this.authPassword
        };
        axios.post('/auth/' + this.authTab, userData).then(res => {
          this.authError = '';
          console.log(res);
          const data = res.data;
          if (data.success) {
            this.notAuth = false;
            this.username = data.message.username;
            localStorage.setItem('chatiqueue:token', data.message.token);
          }  else {
            this.authError = data.message;
          }
        });
      },
      switchTab: function(tab) {
        this.authTab = tab;
        this.authPassword = '';
        this.authUsername = '';
      },
      logout: function() {
        axios.get('/auth/logout').then(res => {
          this.authError = '';
          console.log(res);
          const data = res.data;
          if (data.success) {
            this.notAuth = true;
            this.username = '';
            this.authPassword = '';
            this.authUsername = '';
            localStorage.removeItem('chatiqueue:token');
          } 
        });
      }
    }
  })
</script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="./css/style.css">
</html>