<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>ChatiQueue</title>
</head>
<div id="app">
  <div class="filler" v-if="notAuth"></div>
  <div class="auth bb" v-if="notAuth">
    <div class="auth-tabs">
      <div class="auth-tab" v-on:click="switchTab('login')"  v-bind:class="{ active: (authTab == 'login') }"><p>Login</p></div>
      <div class="auth-tab" v-on:click="switchTab('signup')" v-bind:class="{ active: (authTab == 'signup') }"><p>Sign-up</p></div>
    </div>
    <div class="auth-form">
      <p>Username</p>
      <input type="text" v-model="authUsername">
      <p>Password</p>
      <input type="password" v-model="authPassword">
    </div>
    <div class="auth-error" v-if="authError.length !== 0"><p>{{authError}}</p></div>
    <div class="auth-submit" v-on:click="auth()"><p>YEAP!</p></div>
  </div>
  <nav>
    <div class="wrap">
      <h1>ChatiQueue</h1>
    </div>
  </nav>
  <div class="profile" v-if="!notAuth">
    <div class="wrap">
      <p>Logined as</p>
      <p class="login">{{username}}</p>
      <p class="logout" v-on:click="logout()">[Logout]</p>
    </div>
  </div>
  <div class="error-viewer" v-if="errorMessage.length != 0" v-on:click="errorMessage = ''">
    <div class="wrap">
      <p>{{errorMessage}}</p>
    </div>
  </div>
  <div class="content">
    <div class="wrap">
      <div class="contact-list">
        <div class="contact input">
          <input type="text" placeholder="Add contact..." v-model="newContact" v-on:keyup.enter="addContact()">
        </div>
        <div class="contact hovered" v-for="contact in contacts" v-on:click="toggleChat(contact.id)"
        v-bind:class="{ active: currentChat === contact.id }">
          <p class="username">{{contact['username']}}</p>
          <p class="new-messages" v-if="contact['new'] != 0">{{contact['new']}}</p>
        </div>
      </div>
      <div class="chat bb">
        <div class="message-box">
          <div class="message" v-for="message in messages">
            <p v-bind:class="{ from: message['type'] == 'from', to: message['type'] == 'to' }">{{message['text']}}</p>
          </div>
        </div>
        <div class="message-input">
          <input type="text" v-model="currentMessage" v-on:keyup.enter="sendMessage()">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const socket = io();
  
  let app = new Vue({
    el: '#app',
    data: {
      authUsername: '',
      authPassword: '',
      authError: '',
      authTab: 'login',
      notAuth: true,
      username: '',
      errorMessage: '',
      newContact: '',
      contacts: [
        // { username: String, new: Number, id: ObjectId }
      ],
      messages: [
        // { text: String, type: 'from'|'to' }
      ],
      currentMessage: '',
      currentChat: null
    },
    created: function() {
      const token = localStorage.getItem('chatiqueue:token');
      console.log(token);
      if (token) {
        axios.post('/auth/login', { token }).then(res => {
          this.authError = '';
          const data = res.data;
          if (data.success) {
            this.notAuth = false;
            this.username = data.message.username;
            localStorage.setItem('chatiqueue:token', data.message.token);
          }  else {
            this.authError = data.message;
          }
        });
      }
    },
    methods: {
      auth: function() {
        const userData = {
          username: this.authUsername,
          password: this.authPassword
        };
        axios.post('/auth/' + this.authTab, userData).then(res => {
          this.authError = '';
          console.log(res);
          const data = res.data;
          if (data.success) {
            this.notAuth = false;
            this.username = data.message.username;
            localStorage.setItem('chatiqueue:token', data.message.token);
          }  else {
            this.authError = data.message;
          }
        });
      },
      switchTab: function(tab) {
        this.authTab = tab;
        this.authPassword = '';
        this.authUsername = '';
      },
      logout: function() {
        axios.get('/auth/logout').then(res => {
          this.authError = '';
          console.log(res);
          const data = res.data;
          if (data.success) {
            this.notAuth = true;
            this.username = '';
            this.authPassword = '';
            this.authUsername = '';
            localStorage.removeItem('chatiqueue:token');
          } else {
            this.errorMessage = data.message || 'Unknown error';
          }
        });
      },
      addContact: function() {
        socket.emit('chat:new', [ this.newContact, this.username ]);
        this.newContact = '';
      },
      toggleChat: function(id) {
        this.currentChat = id;
        this.messages = [];
      },
      sendMessage: function() {

      }
    }
  })
</script>
<script src="js/socket.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="./css/style.css">
</html>