/* GENERAL */
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  cursor: default;
  outline: none; }

body {
  background: #eceff1; }

.wrap {
  width: 70%;
  margin: 0 auto; }

.bb {
  box-shadow: 0 0 10px #78909c; }

.filler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #607d8b;
  opacity: 0.3; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #607d8b; }

::-webkit-scrollbar-thumb:hover {
  background: #78909c; }

/* NAV */
nav {
  background: #607d8b;
  height: 50px; }
  nav h1 {
    font-size: 24px;
    color: #fff;
    padding-top: 10px; }

/* AUTH */
.auth {
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  top: 30vh;
  background: #fff; }
  .auth .auth-tabs {
    width: 100%;
    height: 40px; }
    .auth .auth-tabs .auth-tab {
      height: 100%;
      width: 50%;
      display: inline-block;
      font-size: 16px;
      color: #fff;
      background: #607d8b;
      float: left;
      cursor: pointer; }
      .auth .auth-tabs .auth-tab:hover {
        background: #78909c; }
      .auth .auth-tabs .auth-tab.active {
        background: #fff;
        color: #607d8b; }
        .auth .auth-tabs .auth-tab.active:hover {
          color: #78909c;
          background: #fff; }
      .auth .auth-tabs .auth-tab p {
        text-align: center;
        padding: 10px; }
  .auth .auth-form {
    padding: 20px; }
    .auth .auth-form p {
      margin: 5px 0;
      color: #607d8b; }
    .auth .auth-form input {
      margin: 5px 0;
      padding: 5px;
      font-size: 14px;
      color: #607d8b;
      border: 1px solid #607d8b;
      border-radius: 2px;
      width: calc(100% - 10px); }
      .auth .auth-form input:focus {
        box-shadow: 0 0 10px; }
  .auth .auth-error {
    width: 100%;
    background: #ffcdd2; }
    .auth .auth-error p {
      color: #f44336;
      text-align: center;
      font-size: 16px;
      padding: 10px; }
  .auth .auth-submit {
    height: 40px;
    width: 100%;
    background: #607d8b; }
    .auth .auth-submit:hover {
      background: #78909c; }
    .auth .auth-submit p {
      font-size: 16px;
      color: #fff;
      text-align: center;
      padding: 10px; }

.profile {
  background: #78909c;
  height: 30px; }
  .profile p {
    font-size: 16px;
    color: #fff;
    padding: 5px 5px 0 0;
    display: inline-block; }
    .profile p.login {
      font-weight: bold; }
    .profile p.logout {
      color: #ccc;
      cursor: pointer; }
      .profile p.logout:hover {
        text-decoration: underline; }

.error-viewer {
  background: #ffcdd2;
  height: 30px;
  cursor: pointer; }
  .error-viewer p {
    font-size: 16px;
    padding: 5px 0;
    color: #f44336; }

.content {
  height: calc(100vh - 80px); }
  .content .wrap {
    height: 100%; }
  .content .contact-list {
    width: 250px;
    display: inline-block;
    height: 100%;
    float: left;
    overflow-y: scroll; }
    .content .contact-list .contact {
      width: 100%;
      height: 40px;
      background: #fff; }
      .content .contact-list .contact p {
        font-size: 16px;
        padding: 10px;
        color: #607d8b;
        display: inline-block; }
        .content .contact-list .contact p.new-messages {
          color: #f44336; }
      .content .contact-list .contact input {
        font-size: 16px;
        padding: 5px;
        margin: 20px 5px;
        border: 1px solid #607d8b;
        border-radius: 10px;
        color: #607d8b; }
        .content .contact-list .contact input:focus {
          box-shadow: 0 0 10px; }
      .content .contact-list .contact.hovered:hover {
        background: #78909c; }
        .content .contact-list .contact.hovered:hover p {
          color: #fff; }
      .content .contact-list .contact.input {
        height: 70px; }
      .content .contact-list .contact.active {
        background: #607d8b; }
        .content .contact-list .contact.active p {
          color: #fff; }
  .content .chat {
    width: calc(100% - 252px);
    display: inline-block;
    height: 100%;
    float: left;
    overflow-y: scroll;
    position: relative; }
    .content .chat .message-box {
      height: calc(100% - 50px);
      width: 100%; }
      .content .chat .message-box .message {
        width: 100%;
        margin: 20px 0; }
        .content .chat .message-box .message p {
          font-size: 14px;
          color: #78909c;
          background: #fff;
          border-radius: 2px;
          margin: 0 20px;
          padding: 5px;
          display: inline-block; }
          .content .chat .message-box .message p.to {
            background: #78909c;
            color: #fff; }
    .content .chat .message-input {
      height: 50px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: #78909c; }
      .content .chat .message-input input {
        font-size: 16px;
        padding: 5px;
        margin: 10px;
        border: 1px solid #607d8b;
        border-radius: 10px;
        color: #607d8b;
        background: #eceff1;
        width: calc(100% - 40px); }
        .content .chat .message-input input:focus {
          box-shadow: 0 0 10px; }

/*# sourceMappingURL=style.css.map */
