/* GENERAL */

$primary:   #607d8b;
$secondary: #78909c;
$background:#eceff1;
$warning:   #ffcdd2;
$warn-text: #f44336;

* {
    font-family: 'Montserrat', sans-serif;    
    margin: 0;
    padding: 0;
    cursor: default;
    outline: none;
}
body {
    background: $background;
}
.wrap {
    width: 70%;
    margin: 0 auto;
}
.bb {
    box-shadow: 0 0 10px $secondary;
}
.filler {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $primary;
    opacity: 0.3;
}

/* NAV */
nav {
    background: $primary;
    height: 50px;

    h1 {
        font-size: 24px;
        color: #fff;
        padding-top: 10px;
    }
}

/* AUTH */
.auth {
    position: absolute;
    width: 400px;
    left: calc(50% - 200px);
    top: 30vh;
    background: #fff;

    .auth-tabs {
        width: 100%;
        height: 40px;

        .auth-tab {
            height: 100%;
            width: 50%;
            display: inline-block;
            font-size: 16px;
            color: #fff;
            background: $primary;
            float: left;
            cursor: pointer;
            &:hover {
                background: $secondary;
            }
            &.active {
                background: #fff;
                color: $primary; 
                &:hover {
                    color: $secondary;
                    background: #fff;
                }
            }
            p {
                text-align: center;
                padding: 10px;
            }
        }
    }
    .auth-form {
        padding: 20px;
        p {
            margin: 5px 0;
            color: $primary;
        }
        input {
            margin: 5px 0;
            padding: 5px;
            font-size: 14px;
            color: $primary;
            border: 1px solid $primary;
            border-radius: 2px;
            width: calc(100% - 10px);
            &:focus {
                box-shadow: 0 0 10px;
            }
        }
    }
    .auth-error {
        width: 100%;
        background: $warning;
        p {
            color: $warn-text;
            text-align: center;
            font-size: 16px;
            padding: 10px;
        }
    }
    .auth-submit {
        height: 40px;
        width: 100%;
        background: $primary;
        &:hover {
            background: $secondary;
        }
        p {
            font-size: 16px;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
    }
}

.profile {
    background: $secondary;
    height: 30px;

    p {
        font-size: 16px;
        color: #fff;
        padding: 5px 5px 0 0;
        display: inline-block;
        &.login {
            font-weight: bold;
        }
        &.logout {
            color: #ccc;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}